<plugin name='chado' version='0.1' grailsVersion='2.4 &gt; *'>
  <author>Nathan Dunn</author>
  <authorEmail>nathandunn@lbl.gov</authorEmail>
  <title>Chado Plugin for Grails</title>
  <description>	A grails plugin for the chado biological schema.   Used for interacting with a chado database.
    http://gmod.org/wiki/Chado_-_Getting_Started
</description>
  <documentation>http://grails.org/plugin/chado</documentation>
  <type>ChadoGrailsPlugin</type>
  <resources>
    <resource>org.gmod.chado.AllFeatureNames</resource>
    <resource>org.gmod.chado.Analysis</resource>
    <resource>org.gmod.chado.AnalysisOrganism</resource>
    <resource>org.gmod.chado.Analysisfeature</resource>
    <resource>org.gmod.chado.Analysisfeatureprop</resource>
    <resource>org.gmod.chado.Analysisprop</resource>
    <resource>org.gmod.chado.ApplicationMetadata</resource>
    <resource>org.gmod.chado.BlastHitData</resource>
    <resource>org.gmod.chado.BlastOrganisms</resource>
    <resource>org.gmod.chado.Chadoprop</resource>
    <resource>org.gmod.chado.CommonAncestorCvterm</resource>
    <resource>org.gmod.chado.CommonDescendantCvterm</resource>
    <resource>org.gmod.chado.Contact</resource>
    <resource>org.gmod.chado.ContactRelationship</resource>
    <resource>org.gmod.chado.Cv</resource>
    <resource>org.gmod.chado.CvCvtermCount</resource>
    <resource>org.gmod.chado.CvCvtermCountWithObs</resource>
    <resource>org.gmod.chado.CvLeaf</resource>
    <resource>org.gmod.chado.CvLinkCount</resource>
    <resource>org.gmod.chado.CvPathCount</resource>
    <resource>org.gmod.chado.CvRoot</resource>
    <resource>org.gmod.chado.CvRootMview</resource>
    <resource>org.gmod.chado.Cvprop</resource>
    <resource>org.gmod.chado.Cvterm</resource>
    <resource>org.gmod.chado.CvtermDbxref</resource>
    <resource>org.gmod.chado.CvtermRelationship</resource>
    <resource>org.gmod.chado.Cvtermpath</resource>
    <resource>org.gmod.chado.Cvtermprop</resource>
    <resource>org.gmod.chado.Cvtermsynonym</resource>
    <resource>org.gmod.chado.Db</resource>
    <resource>org.gmod.chado.DbDbxrefCount</resource>
    <resource>org.gmod.chado.Dbxref</resource>
    <resource>org.gmod.chado.Dbxrefprop</resource>
    <resource>org.gmod.chado.Dfeatureloc</resource>
    <resource>org.gmod.chado.Eimage</resource>
    <resource>org.gmod.chado.Environment</resource>
    <resource>org.gmod.chado.EnvironmentCvterm</resource>
    <resource>org.gmod.chado.Expression</resource>
    <resource>org.gmod.chado.ExpressionCvterm</resource>
    <resource>org.gmod.chado.ExpressionCvtermprop</resource>
    <resource>org.gmod.chado.ExpressionImage</resource>
    <resource>org.gmod.chado.ExpressionPub</resource>
    <resource>org.gmod.chado.Expressionprop</resource>
    <resource>org.gmod.chado.Feature</resource>
    <resource>org.gmod.chado.FeatureContains</resource>
    <resource>org.gmod.chado.FeatureCvterm</resource>
    <resource>org.gmod.chado.FeatureCvtermDbxref</resource>
    <resource>org.gmod.chado.FeatureCvtermPub</resource>
    <resource>org.gmod.chado.FeatureCvtermprop</resource>
    <resource>org.gmod.chado.FeatureDbxref</resource>
    <resource>org.gmod.chado.FeatureDifference</resource>
    <resource>org.gmod.chado.FeatureDisjoint</resource>
    <resource>org.gmod.chado.FeatureDistance</resource>
    <resource>org.gmod.chado.FeatureExpression</resource>
    <resource>org.gmod.chado.FeatureExpressionprop</resource>
    <resource>org.gmod.chado.FeatureGenotype</resource>
    <resource>org.gmod.chado.FeatureIntersection</resource>
    <resource>org.gmod.chado.FeaturePhenotype</resource>
    <resource>org.gmod.chado.FeaturePub</resource>
    <resource>org.gmod.chado.FeaturePubprop</resource>
    <resource>org.gmod.chado.FeatureRelationship</resource>
    <resource>org.gmod.chado.FeatureRelationshipPub</resource>
    <resource>org.gmod.chado.FeatureRelationshipprop</resource>
    <resource>org.gmod.chado.FeatureRelationshippropPub</resource>
    <resource>org.gmod.chado.FeatureSynonym</resource>
    <resource>org.gmod.chado.FeatureUnion</resource>
    <resource>org.gmod.chado.Featureloc</resource>
    <resource>org.gmod.chado.FeaturelocPub</resource>
    <resource>org.gmod.chado.Featuremap</resource>
    <resource>org.gmod.chado.FeaturemapPub</resource>
    <resource>org.gmod.chado.Featurepos</resource>
    <resource>org.gmod.chado.Featureprop</resource>
    <resource>org.gmod.chado.FeaturepropPub</resource>
    <resource>org.gmod.chado.Featurerange</resource>
    <resource>org.gmod.chado.FeaturesetMeets</resource>
    <resource>org.gmod.chado.Genotype</resource>
    <resource>org.gmod.chado.Genotypeprop</resource>
    <resource>org.gmod.chado.Gff3atts</resource>
    <resource>org.gmod.chado.Gff3view</resource>
    <resource>org.gmod.chado.GffIntervalStats</resource>
    <resource>org.gmod.chado.GffMeta</resource>
    <resource>org.gmod.chado.Gffatts</resource>
    <resource>org.gmod.chado.GoCountAnalysis</resource>
    <resource>org.gmod.chado.GoCountOrganism</resource>
    <resource>org.gmod.chado.IntronCombinedView</resource>
    <resource>org.gmod.chado.IntronlocView</resource>
    <resource>org.gmod.chado.KeggByOrganism</resource>
    <resource>org.gmod.chado.Library</resource>
    <resource>org.gmod.chado.LibraryCvterm</resource>
    <resource>org.gmod.chado.LibraryDbxref</resource>
    <resource>org.gmod.chado.LibraryFeature</resource>
    <resource>org.gmod.chado.LibraryPub</resource>
    <resource>org.gmod.chado.LibrarySynonym</resource>
    <resource>org.gmod.chado.Libraryprop</resource>
    <resource>org.gmod.chado.LibrarypropPub</resource>
    <resource>org.gmod.chado.MaterializedView</resource>
    <resource>org.gmod.chado.NdExperiment</resource>
    <resource>org.gmod.chado.NdExperimentContact</resource>
    <resource>org.gmod.chado.NdExperimentDbxref</resource>
    <resource>org.gmod.chado.NdExperimentGenotype</resource>
    <resource>org.gmod.chado.NdExperimentPhenotype</resource>
    <resource>org.gmod.chado.NdExperimentProject</resource>
    <resource>org.gmod.chado.NdExperimentProtocol</resource>
    <resource>org.gmod.chado.NdExperimentPub</resource>
    <resource>org.gmod.chado.NdExperimentStock</resource>
    <resource>org.gmod.chado.NdExperimentStockDbxref</resource>
    <resource>org.gmod.chado.NdExperimentStockprop</resource>
    <resource>org.gmod.chado.NdExperimentprop</resource>
    <resource>org.gmod.chado.NdGeolocation</resource>
    <resource>org.gmod.chado.NdGeolocationprop</resource>
    <resource>org.gmod.chado.NdProtocol</resource>
    <resource>org.gmod.chado.NdProtocolReagent</resource>
    <resource>org.gmod.chado.NdProtocolprop</resource>
    <resource>org.gmod.chado.NdReagent</resource>
    <resource>org.gmod.chado.NdReagentRelationship</resource>
    <resource>org.gmod.chado.NdReagentprop</resource>
    <resource>org.gmod.chado.Organism</resource>
    <resource>org.gmod.chado.OrganismDbxref</resource>
    <resource>org.gmod.chado.OrganismFeatureCount</resource>
    <resource>org.gmod.chado.Organismprop</resource>
    <resource>org.gmod.chado.Phendesc</resource>
    <resource>org.gmod.chado.Phenotype</resource>
    <resource>org.gmod.chado.PhenotypeComparison</resource>
    <resource>org.gmod.chado.PhenotypeComparisonCvterm</resource>
    <resource>org.gmod.chado.PhenotypeCvterm</resource>
    <resource>org.gmod.chado.Phenstatement</resource>
    <resource>org.gmod.chado.Phylonode</resource>
    <resource>org.gmod.chado.PhylonodeDbxref</resource>
    <resource>org.gmod.chado.PhylonodeOrganism</resource>
    <resource>org.gmod.chado.PhylonodePub</resource>
    <resource>org.gmod.chado.PhylonodeRelationship</resource>
    <resource>org.gmod.chado.Phylonodeprop</resource>
    <resource>org.gmod.chado.Phylotree</resource>
    <resource>org.gmod.chado.PhylotreePub</resource>
    <resource>org.gmod.chado.Project</resource>
    <resource>org.gmod.chado.ProjectContact</resource>
    <resource>org.gmod.chado.ProjectPub</resource>
    <resource>org.gmod.chado.ProjectRelationship</resource>
    <resource>org.gmod.chado.Projectprop</resource>
    <resource>org.gmod.chado.Pub</resource>
    <resource>org.gmod.chado.PubDbxref</resource>
    <resource>org.gmod.chado.PubRelationship</resource>
    <resource>org.gmod.chado.Pubauthor</resource>
    <resource>org.gmod.chado.Pubprop</resource>
    <resource>org.gmod.chado.StatsPathsToRoot</resource>
    <resource>org.gmod.chado.Stock</resource>
    <resource>org.gmod.chado.StockCvterm</resource>
    <resource>org.gmod.chado.StockCvtermprop</resource>
    <resource>org.gmod.chado.StockDbxref</resource>
    <resource>org.gmod.chado.StockDbxrefprop</resource>
    <resource>org.gmod.chado.StockGenotype</resource>
    <resource>org.gmod.chado.StockPub</resource>
    <resource>org.gmod.chado.StockRelationship</resource>
    <resource>org.gmod.chado.StockRelationshipCvterm</resource>
    <resource>org.gmod.chado.StockRelationshipPub</resource>
    <resource>org.gmod.chado.Stockcollection</resource>
    <resource>org.gmod.chado.StockcollectionStock</resource>
    <resource>org.gmod.chado.Stockcollectionprop</resource>
    <resource>org.gmod.chado.Stockprop</resource>
    <resource>org.gmod.chado.StockpropPub</resource>
    <resource>org.gmod.chado.Synonym</resource>
    <resource>org.gmod.chado.TypeFeatureCount</resource>
  </resources>
</plugin>